
folder_management/bin/Debug/System.Net.Http.xml
folder_management/bin/Debug/System.Net.Http.dll
folder_management/bin/Debug/ko/System.Net.Http.resources.dll
folder_management/bin/Debug/folder_managementpratice.pdb
folder_management/bin/Debug/folder_managementpratice.exe.config
folder_management/bin/Debug/folder_managementpratice.exe
.vs/folder_management/v16/.suo
folder_management/obj/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
folder_management/obj/Debug/folder_management.csproj.CopyComplete
folder_management/obj/Debug/folder_management.csproj.CoreCompileInputs.cache
folder_management/obj/Debug/folder_management.csproj.FileListAbsolute.txt
folder_management/obj/Debug/folder_management.csproj.GenerateResource.cache
folder_management/obj/Debug/folder_management.csprojAssemblyReference.cache
folder_management/obj/Debug/folder_management.Form1.resources
folder_management/obj/Debug/folder_management.Properties.Resources.resources
folder_management/obj/Debug/folder_managementpratice.exe
folder_management/obj/Debug/folder_managementpratice.pdb
